<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">

    <div layout:fragment="mainContent">
        <div class="row mt-4 justify-content-center">
            <div class="col-md-7">

                <div class="card mb-3" th:each="p : ${posts}">
                    <div class="card-header" th:if="${posts.indexOf(p)==0}">
                        <span th:text="#{allNews}"></span>
                    </div>
                    <div class="card-body" >
                        <img th:src="@{'/getavatar/'+${p.user.avatarUrl}}" alt="Avatar" class="post" style="width:100%;">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-start">
                                <h5 class="card-title">
                                    <a class="text-dark" style="text-decoration: none" th:href="@{'/usersprofile/'+${p.user.id}}" th:text="${p.user.fullName}"></a>
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <i class='far fa-flag' data-bs-toggle="modal" data-bs-target="#reportPostModal"
                                   th:onclick="'reportPost('+${p.id}+')'" th:if="${!reportedposts.contains(p)}"></i>
                                <i class='fas fa-flag-checkered' th:unless="${!reportedposts.contains(p)}"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-3 text-muted"><small><span th:text="${p.createdAt}"></span></small></h6>
                        <p class="card-text" th:text="${p.text}"></p>
                        <img th:src="@{'/getimage/'+${p.imageUrl}}" class="img-fluid rounded-start" alt="Image" th:if="${!p.imageUrl.equals('default')}">
                        <input type="hidden" id="curUserId" th:value="${#authentication.getPrincipal().id}">
                        <div th:id="${p.id+'_postContent'}"></div>
                        <hr class="post">
                        <div th:id="${p.id+'_commentContent'}"></div>
                        <div th:id="${p.id+'_inputContent'}"></div>
                    </div>

                </div>

                <div class="card mb-3" th:if="${posts.size()==0}">
                    <div class="card-header" >
                        <span th:text="#{allPosts}"></span>
                    </div>
                    <div class="card-body mt-5 mb-5" th:if="${posts.size()==0}">
                        <div class="text-center">
                            <h6>You don't have any news yet.</h6>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteCommentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteCommentModalLabel">Delete comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" id="deleteCommentId">
                                        <h6 class="text-center">
                                            Are you sure?
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteComment()">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="reportPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reportPostModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="${'/addreport'}" method="post">
                                <input type="hidden" name="user.id" th:value="${#authentication.getPrincipal().id}">
                                <input type="hidden" name="post.id" id="repPostId">
                                <input type="hidden" name="direction" th:value="${'news'}">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reportPostModalLabel">Report post</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    What do you want to report this content for?

                                    <select class="form-select mt-3" name="type">
                                        <option selected>Open this select menu</option>
                                        <option value="spam">Spam</option>
                                        <option value="adult">Adult content</option>
                                        <option value="copied">Copied content</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary btn-sm">Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script>
            function prepareData(){
                loadPosts();
                loadComments();
            }

            function loadPosts(){
                const xhhtp = new XMLHttpRequest();
                xhhtp.open("GET", "http://localhost:8000/post/news");
                xhhtp.send();
                xhhtp.onload = function(){
                    var posts = JSON.parse(this.responseText);
                    const xhttp_2= new XMLHttpRequest();
                    xhttp_2.open("GET", "http://localhost:8000/post/likednews");
                    xhttp_2.send();
                    xhttp_2.onload = function () {
                        var likedPosts = JSON.parse(xhttp_2.responseText);
                        var postContent;
                        for(var i = 0; i<posts.length; i++){

                            if (likedPosts.find(l=>l.id==posts[i].id)==null){
                                document.getElementById(posts[i].id+'_postContent').innerHTML =
                                    "<button type=\"button\" class=\"btn border-0\" onclick='addLike("+posts[i].id+")'>" +
                                    "<i class='far fa-heart mt-2' style='font-size:16px'></i> "+posts[i].likesAmount+
                                    "</button>" +
                                    "<button class='btn border-0'>" +
                                    "<i class='far fa-comment-alt mt-2'></i> "+posts[i].commentsAmount +
                                    "</button>";

                            }else{
                                postContent = "";
                                postContent +="<input type=\"hidden\" id=\"deleteLikePostId\">";
                                postContent +="<button type=\"button\" class=\"btn border-0\" onclick='deleteLike("+posts[i].id+")'>";
                                postContent +="<i class='fas fa-heart mt-2' style='font-size:16px'></i> "+posts[i].likesAmount;
                                postContent +="</button>";
                                postContent +="<button type=\"button\" class=\"btn border-0\">";
                                postContent +="<i class='far fa-comment-alt mt-2'></i> "+posts[i].commentsAmount;
                                postContent +="</button>";
                                document.getElementById(posts[i].id+'_postContent').innerHTML = postContent;
                            }

                        }
                        for (var i = 0; i<posts.length; i++){
                            document.getElementById(posts[i].id+'_inputContent').innerHTML =
                                "<div class=\"row ms-2\">" +
                                "<div class=\"col-10\">" +
                                "<input type=\"text\" class=\"form-control form-control-sm mt-2\" id=\""+posts[i].id+"_addCommentText\" placeholder=\"[[#{writeAComment}]]\" required>" +
                                "</div>" +
                                "<div class=\"col d-flex justify-content-center\">" +
                                "<button type=\"button\" class=\"btn btn-success mt-2 btn-sm w-100\" onclick=\"addComment("+posts[i].id+")\">" +
                                "<i class='far fa-comment-alt'></i>" +
                                "</button>" +
                                "</div>" +
                                "</div>"
                        }
                    }
                }
            }

            function loadComments(){
                const xhhtp = new XMLHttpRequest();
                xhhtp.onload = function() {
                    var comments = JSON.parse(this.responseText);
                    var commentContent;
                    let postsId = new Array();

                    for (var i = 0; i < comments.length; i++) {
                            if(postsId.find(p => p === comments[i].post.id)==null){
                                postsId.push(comments[i].post.id);
                            }
                            commentContent = "<div class=\"ms-3\">";
                            commentContent += "<img src=\"/getavatar/"+comments[i].user.avatarUrl+"\" alt=\"Avatar\" class=\"comment\" style=\"width:100%;\">";
                            commentContent += "<div class=\"row\">";
                            commentContent += "<div class=\"col-6 d-flex justify-content-start\">";
                            commentContent += "<h6 class=\"\">";
                            commentContent += "<a class=\"text-dark\" style=\"text-decoration: none\">";
                            commentContent += "<href=\"/usersprofile/"+comments[i].user.id+"\">"+comments[i].user.fullName+"</a>";
                            commentContent += "</h6>";
                            commentContent += "</div>";
                            commentContent += "<div class=\"col-6 d-flex justify-content-end\">";
                            if (comments[i].user.id==document.getElementById("curUserId").value) {
                                commentContent += "<button type=\"button\" class=\"btn border-0\"><i class='far fa-trash-alt' style='font-size:16px' " +
                                    "onclick='openDeleteCommentModal(" + comments[i].id + ")'></i> </button>";
                            }
                            commentContent += "</div>";
                            commentContent += "</div>";
                            commentContent += "<p class=\"card-subtitle mb-1 text-muted\"><small>"+comments[i].createdAt+"</small></p>";
                            commentContent += "<h6 class=\"ms-5\">"+comments[i].text+"</h6>";
                            commentContent += "<hr class=\"post\">";
                            commentContent += "</div>";
                            document.getElementById(comments[i].post.id+'_commentContent').innerHTML += commentContent;
                    }

                }
                xhhtp.open("GET", "http://localhost:8000/comment/news");
                xhhtp.send();
            }

            function addComment(postId){
                var bodyObj = {
                    "text": document.getElementById(postId+"_addCommentText").value,
                    "user": {
                        "id": document.getElementById("curUserId").value
                    },
                    "post": {
                        "id": postId
                    }
                }

                const xhhtp = new XMLHttpRequest();
                xhhtp.onload = function(){
                    loadPosts();
                    clearComments();
                    loadComments();
                }
                xhhtp.open("POST", "http://localhost:8000/comment");
                xhhtp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
                xhhtp.send(JSON.stringify(bodyObj));
            }

            function clearComments(){
                const xhhtp = new XMLHttpRequest();
                xhhtp.onload = function(){
                    var comments = JSON.parse(this.responseText);
                    for(var i = 0; i<comments.length; i++){
                        document.getElementById(comments[i].post.id+'_commentContent').innerHTML = "";
                    }
                }
                xhhtp.open("GET", "http://localhost:8000/comment/news");
                xhhtp.send();
            }

            function openDeleteCommentModal(commentId){
                const myModal = new bootstrap.Modal('#deleteCommentModal', {backdrop:true, focus:false, keyboard:false});

                deleteCommentId.value = commentId;
                myModal.show();
            }

            function deleteComment(){
                const xhhtp = new XMLHttpRequest();
                xhhtp.onload = function(){
                    loadPosts();
                    clearComments();
                    loadComments();
                }
                xhhtp.open("DELETE", "http://localhost:8000/comment/"+deleteCommentId.value);
                xhhtp.send();
            }

            function addLike(postId){
                var bodyObj = {
                    "post": {
                        "id": postId
                    }
                }
                const xhhtp = new XMLHttpRequest();
                xhhtp.open("POST", "http://localhost:8000/like");
                xhhtp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
                xhhtp.send(JSON.stringify(bodyObj));
                xhhtp.onload = function(){
                    loadPosts();
                }
            }

            function deleteLike(postId){
                const xhhtp = new XMLHttpRequest();
                xhhtp.open("DELETE", "http://localhost:8000/like/"+postId);
                xhhtp.send();
                xhhtp.onload = function(){
                    loadPosts();
                }
            }
            function reportPost(id){
                document.getElementById("repPostId").value=id;
            }
        </script>
    </div>

</html>