<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
    <div layout:fragment="mainContent">
        <div class="row mt-5 justify-content-center">
            <div class="col-6 mx-auto">

                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error!=null}">
                    Incorrect email or password!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="card mt-5">
                    <div class="card-header">
                        <h5 class="text-center"><span th:text="#{signIn}"></span></h5>
                    </div>
                    <div class="card-body">
                        <form th:action="@{'/auth'}" method="post">
                            <div class="row mt-3">
                                <div class="col-3 text-end">
                                    <label><span th:text="#{email}"></span>:</label>
                                </div>
                                <div class="col-8">
                                    <input type="email" class="form-control form-control-sm" name="user_email" required>
                                </div>
                            </div>
                            <div class="row mt-3 text-end">
                                <div class="col-3">
                                    <label><span th:text="#{password}"></span>:</label>
                                </div>
                                <div class="col-8">
                                    <input type="password" class="form-control form-control-sm" name="user_password" required>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-11 text-end">
                                    <button class="btn btn-success btn-sm"><span th:text="#{signIn}"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>




            </div>
        </div>
    </div>

</html>